= simple_form_for [:user, expense], html: { multipart: true } do |f|
  = f.input :name
  = f.input :price_value
  = f.association :currency, include_blank: false
  = f.association :shop, include_blank: false
  = f.association :expenses_category, include_blank: false
  = f.input :description
  = f.input :photo, as: :file
  = f.submit
