:javascript
  $(function () {
    $('#expenses_chart').highcharts({
        chart: {
          type: 'column'
        },
        title: {
          text: 'All expenses'
        },
        xAxis: {
          categories: #{expenses_categories.pluck(:name)},
          title: { text:'Categories' }
          },
        yAxis: {
          min: 0,
          title: {
            text: 'Price value'
          }
        },
        tooltip: {
          headerFormat: '<b>{point.x}</b><br/>',
          pointFormat: '{series.name}: {point.y}'
        },
        plotOptions: {
          column: {
            stacking: 'normal'
          }
        },
        series: [

        {
          name: 'Price',
          data: #{total_price_category}
        }]
      });
    });

#expenses_chart{:style => "min-width: 310px; height: 400px; margin: 0 auto"};

%h1 Expenses
%p= link_to 'New expense', new_user_expense_path, class: 'btn btn-success'
%p= link_to 'Weekly expenses', user_weekly_expenses_path, class: 'btn btn-info'

= simple_form_for expenses_import, as: :expenses_import, url: import_user_expenses_path do |f|
  = f.input :file, as: :file
  = f.submit

%table.table.table-striped
  %tr
    %th Name
    %th Price
    %th Currency
    %th Description
    %th Shop
    %th Category
    %th Actions
  - expenses.each do |expense|
    %tr
      %td= expense.name
      %td= expense.decorate.price
      %td= expense.currency.name
      %td= expense.decorate.description_for_display
      %td= expense.shop.name
      %td= expense.expenses_category.name
      %td
        = link_to 'Show', user_expense_path(expense.id)
        = link_to 'Edit', edit_user_expense_path(expense.id)
        = link_to 'Delete', user_expense_path(expense.id), method: :delete, data: {confirm: 'Are you sure?'}
  %tr
    %td TOTAL PRICE
    %td
      %b= price(total_price(expenses))
    %td
    %td
    %td
    %td
    %td

- expenses_categories.each do |category|
  %h3= category.name
  %table.table.table-striped
    %tr
      %th Name
      %th Price
      %th Currency
      %th Description
      %th Shop
      %th Photo
      %th Value %
    - category.expenses.for_user(current_user).each do |expense|
      %tr
        %td= expense.name
        %td= expense.decorate.price
        %td= expense.currency.name
        %td= expense.decorate.description_for_display
        %td= expense.shop.name
        %td= image_tag expense.photo.url
        %td= percentage_usage(expense, category.expenses.for_user(current_user))
    %tr
      %td TOTAL PRICE
      %td
        %b= price(category.total_price_for_user(current_user))
      %td
      %td
      %td
      %td
      %td
