%h2
  %b= expense.name

%p
  %b Price
  = expense.price

%p
  %b Currency:
  = expense.currency.name

%p
  %b Expenses group:
  = expense.expenses_category.name

%p
  %b Description:
  = expense.description_for_display
