%h2
  %b= expense_presenter.name

%p
  %b Price
  = expense_presenter.price

%p
  %b Currency:
  = expense_presenter.currency.name

%p
  %b Expenses group:
  = expense_presenter.expenses_group.name

%p
  %b Description:
  = expense_presenter.description_for_display
