%h1 Expense groups
= link_to 'New expense group', new_expenses_group_path, class: 'btn btn-success'

%table.table.table-striped
  %tr
    %th Name
    %th Description
    %th Actions
  - @expenses_groups.each do |expenses_group|
    %tr
      %td= expenses_group.name
      %td= expenses_group.description
      %td
        = link_to 'Edit', edit_expenses_group_path(expenses_group.id)
        = link_to 'Show', expenses_group_path(expenses_group.id)
        = link_to 'Delete', expenses_group_path(expenses_group.id), method: :delete, data: {confirm: 'Are you sure?'}
