%h1 Groups
= link_to 'New group', new_group_path, data: { modal: true }, class: 'btn btn-success'

%table.table.table-striped
  %tr
    %th Name
    %th Actions
  - groups.each do |group|
    %tr
      %td= group.name
      %td
        = link_to 'Edit', edit_group_path(group.id), data: { modal: true }
        = link_to 'Show', group_path(group.id)
        = link_to 'Delete', group_path(group.id), method: :delete, data: {confirm: 'Are you sure?'}
