%h3 Currency rates
%br
  1 PLN =
  ="#{pln_money.exchange_to(:USD)} USD"

%br
  1 PLN =
  ="#{pln_money.exchange_to(:EUR)} EUR"

%br
  1 USD =
  ="#{usd_money.exchange_to(:PLN)} PLN"

%br
  1 USD =
  ="#{usd_money.exchange_to(:EUR)} EUR"

%br
  1 EUR =
  ="#{eur_money.exchange_to(:PLN)} PLN"

%br
  1 EUR =
  ="#{eur_money.exchange_to(:USD)} USD"
%br
  %table.table.table-striped
    %tr
      %th Settings
      %th Actions
    - currency_exchange_settings.each do |setting|
      %tr
        %td(id="setting_#{setting.id}" data-value="#{setting.value}" data-base-currency="#{setting.base_currency}" data-new-currency="#{setting.new_currency}")
          = setting.decorate.for_display
        %td
          = link_to 'Apply', 'javascript:void(0)', onclick: "setCurrencyExchangeSetting(#{setting.id})"
          = link_to 'Delete', currency_exchange_setting_path(setting), method: :delete, data: {confirm: 'Are you sure?'}

  = simple_form_for new_currency_exchange_setting, id: 'currency_exchange_form' do |f|
    = f.input :value, input_html: {onkeyup: 'calculateConvertedValue()'}
    = f.input :base_currency, collection: currencies_for_select, input_html: {onchange: 'calculateConvertedValue()'}, include_blank: false
    = f.input :new_currency, collection: currencies_for_select, input_html: {onchange: 'calculateConvertedValue()'}, include_blank: false
    = f.submit 'save setting'
    Converted value:
    %span#converted_value_holder
      = converted_value
