%h3 Currency rates
%br
  1 PLN =
  ="#{money_pln.exchange_to(:USD)} USD"

%br
  1 PLN =
  ="#{money_pln.exchange_to(:EUR)} EUR"

%br
  1 USD =
  ="#{money_usd.exchange_to(:PLN)} PLN"

%br
  1 USD =
  ="#{money_usd.exchange_to(:EUR)} EUR"

%br
  1 EUR =
  ="#{money_eur.exchange_to(:PLN)} PLN"

%br
  1 EUR =
  ="#{money_eur.exchange_to(:USD)} USD"
%br
  %table.table.table-striped
    %tr
      %th Settings
      %th Actions
    - currency_exchange_settings.each do |setting|
      %tr
        %td{id: "setting_#{setting.id}"}
          = setting.for_display
        %td
          = link_to 'Apply', 'javascript:void(0)', onclick: "setCurrencyExchangeSetting(#{setting.id})"
          = link_to 'Delete', currency_exchange_setting_path(setting), method: :delete, data: {confirm: 'Are you sure?'}

  = simple_form_for new_currency_exchange_setting do |f|
    = f.input :value, input_html: {onkeyup: 'calculateConvertedValue()'}
    = f.input :base_currency, collection: currencies_for_select, input_html: {onchange: 'calculateConvertedValue()'}, include_blank: false
    = f.input :new_currency, collection: currencies_for_select, input_html: {onchange: 'calculateConvertedValue()'}, include_blank: false
    = f.submit 'save setting'
    Converted value:
    %span#converted_value_holder
      = converted_value

:javascript
  function setCurrencyExchangeSetting(id) {
    attrs = $('#setting_' + id).html().trim().split(', ');
    $('#currency_exchange_setting_value').val([attrs[0]]);
    $('#currency_exchange_setting_base_currency').val([attrs[1]]);
    $('#currency_exchange_setting_new_currency').val([attrs[2]]);
    calculateConvertedValue();
  }

  function calculateConvertedValue() {
    value = $('#currency_exchange_setting_value').val()
    base_currency = $('#currency_exchange_setting_base_currency').val()
    new_currency = $('#currency_exchange_setting_new_currency').val()

    $.ajax({
      url: '/currency_exchange',
      dataType: 'json',
      data: {value: value, base_currency: base_currency, new_currency: new_currency}
    }).done(function(response) {
      $('#converted_value_holder').html(response.converted_value)
    });
  }
