%h3 Currency rates
%br
  1 PLN =
  ="#{money_pln.exchange_to(:USD)} USD"

%br
  1 PLN =
  ="#{money_pln.exchange_to(:EUR)} EUR"

%br
  1 USD =
  ="#{money_usd.exchange_to(:PLN)} PLN"

%br
  1 USD =
  ="#{money_usd.exchange_to(:EUR)} EUR"

%br
  1 EUR =
  ="#{money_eur.exchange_to(:PLN)} PLN"

%br
  1 EUR =
  ="#{money_eur.exchange_to(:USD)} USD"
%br
  %table.table.table-striped
    %tr
      %th Settings
      %th Actions
    - currency_exchange_settings.each do |setting|
      %tr
        %td{id: "setting_#{setting.id}"}
          = setting.for_display
        %td
          = link_to 'Apply', 'javascript:void(0)', onclick: "setCurrencyExchangeSetting(#{setting.id})"
          = link_to 'Delete', currency_exchange_setting_path(setting), method: :delete, data: {confirm: 'Are you sure?'}
%h4
  = form_tag :currency_exchange_index, method: :get, remote: true, id: 'currency_exchange_form' do
    = text_field_tag 'value', value, onkeyup: 'submitCurrencyExchangeForm()'
    = select_tag 'base_currency', options_for_select(currencies.map(&:name), base_currency), onchange: 'submitCurrencyExchangeForm()'
    %p
      Convert to:
      = select_tag 'new_currency', options_for_select(currencies.map(&:name), new_currency), onchange: 'submitCurrencyExchangeForm()'
  Converted value:
  %span#converted_value_holder
    = converted_value

  = simple_form_for CurrencyExchangeSetting.new do |f|
    = f.input :value, as: :hidden
    = f.input :base_currency, as: :hidden
    = f.input :new_currency, as: :hidden
    = link_to 'Save setting', '#', onclick: 'saveCurrencyExchangeSetting()', class: 'btn btn-success'

:javascript
  function saveCurrencyExchangeSetting() {
    $('#currency_exchange_setting_value').val($('#value').val());
    $('#currency_exchange_setting_base_currency').val($('#base_currency').val());
    $('#currency_exchange_setting_new_currency').val($('#new_currency').val());
    $('#new_currency_exchange_setting').submit();
  }

  function setCurrencyExchangeSetting(id) {
    attrs = $('#setting_' + id).html().trim().split(', ');
    $('#value').val([attrs[0]]);
    $('#base_currency').val([attrs[1]]);
    $('#new_currency').val([attrs[2]]);
    submitCurrencyExchangeForm();
  }

  function submitCurrencyExchangeForm() {
    $('#currency_exchange_form').submit();
  }
