= simple_form_for q, url: user_report_path(group.id), method: :get do |f|
  = f.input :name_cont, label: 'Name'
  = f.input :price_value_gteq, label: 'Price min'
  = f.input :price_value_lteq, label: 'Price max'
  = f.input :user_email_cont, label: 'Email'
  = f.submit

%h1=group.name

%table.table.table-striped
  %tr
    %th Name
    %th Price
    %th Currency
    %th Description
    %th Shop
    %th User
  %h2= "#{name_of_week(date)}: #{date.beginning_of_week} - #{date.end_of_week}"
  - expenses_for_week.each do |expense|
    %tr
      %td= expense.name
      %td= expense.decorate.price
      %td= expense.currency.name
      %td= expense.decorate.description_for_display
      %td= expense.shop.name
      %td= expense.user.email
  %tr
    %td TOTAL PRICE
    %td
      %b= price(total_price_for_group(expenses_for_week))
    %td
    %td
    %td
    %td
    %td
= link_to "#{name_of_week(date - 1.week)}", user_report_path(date: (date - 1.week).strftime('%Y-%m-%d'))
|
= link_to "#{name_of_week(date + 1.week)}", user_report_path(date: (date + 1.week).strftime('%Y-%m-%d'))

%h2
  All expenses per group
%table.table.table-striped
  %tr
    %th Name
    %th Price
    %th Currency
    %th Description
    %th Shop
    %th User
  - expenses.each do |expense|
    %tr
      %td= expense.name
      %td= expense.decorate.price
      %td= expense.currency.name
      %td= expense.decorate.description_for_display
      %td= expense.shop.name
      %td= expense.user.email
  %tr
    %td TOTAL PRICE
    %td
      %b= price(total_price_for_group(expenses))
    %td
    %td
    %td
    %td
    %td

- expenses_by_group.each_pair do |group, expenses|
  %h3=group.name
  %table.table.table-striped
    %tr
      %th Name
      %th Price
      %th Currency
      %th Description
      %th Shop
      %th User
    - expenses.each do |expense|
      %tr
        %td= expense.name
        %td= expense.decorate.price
        %td= expense.currency.name
        %td= expense.decorate.description_for_display
        %td= expense.shop.name
        %td= expense.user.email
    %tr
      %td TOTAL PRICE
      %td
        %b= price(total_price_for_group(expenses))
      %td
      %td
      %td
      %td
