!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome!
    %h2
      Weekly expenses for
      = @group.name
      group:

    %table.table
      %tr
        %th Name
        %th Price
        %th Currency
        %th Description
        %th Shop
        %th User
      %b= "#{@date.beginning_of_week} - #{@date.end_of_week}"
      - @expenses_for_week.each do |expense|
        %tr
          %td= expense.name
          %td= expense.decorate.price
          %td= expense.currency.name
          %td= expense.decorate.description_for_display
          %td= expense.shop.name
          %td= expense.user.email
      %tr
        %td TOTAL PRICE
        %td
          %b= @expenses_for_week.to_a.sum(&:price_value)
        %td
        %td
        %td
        %td
