= simple_form_for q, url: user_groups_expense_path(group.id), method: :get do |f|
  = f.input :name_cont, label: 'Name'
  = f.input :price_value_gteq, label: 'Price min'
  = f.input :price_value_lteq, label: 'Price max'
  = f.input :user_email_cont, label: 'Email'
  = f.submit

%h1=group.name
%p= link_to 'Weekly expenses', user_weekly_groups_expenses_path, class: 'btn btn-info'

%table.table.table-striped
  %tr
    %th Name
    %th Price
    %th Currency
    %th Description
    %th Shop
    %th Category
    %th User
    %th Value %
  - expenses.each do |expense|
    %tr
      %td= expense.name
      %td= expense.decorate.price
      %td= expense.currency.name
      %td= expense.decorate.description_for_display
      %td= expense.shop.name
      %td= expense.expenses_category.name
      %td= expense.user.email
      %td= percentage_usage(expense, expenses)
  %tr
    %td TOTAL PRICE
    %td
      %b= price(total_price(expenses))
    %td
    %td
    %td
    %td
    %td

- expenses_by_category.each_pair do |group, expenses|
  %h3=group.name
  %table.table.table-striped
    %tr
      %th Name
      %th Price
      %th Currency
      %th Description
      %th Shop
      %th User
      %th Value %
    - expenses.each do |expense|
      %tr
        %td= expense.name
        %td= expense.decorate.price
        %td= expense.currency.name
        %td= expense.decorate.description_for_display
        %td= expense.shop.name
        %td= expense.user.email
        %td= percentage_usage(expense, expenses)
    %tr
      %td TOTAL PRICE
      %td
        %b= price(total_price(expenses))
      %td
      %td
      %td
      %td
      %td
