= form_tag :google_search_index, id:'google_search_form', method: :get do
  = text_field_tag 'query', query, autocomplete: :off

%ul
  - result.each do |result|
    %li
      = link_to "#{result.title}", result.uri
      %p= result.content

:javascript
  var delay = (function(){
    var timer = 0;
    return function(callback, ms){
      clearTimeout (timer);
      timer = setTimeout(callback, ms);
    };
  })();

  $('#query').keyup(function() {
    delay(function(){
      $('#google_search_form').submit();
    }, 2000 );
  });
