!!!
%html
  %head
    %title AppWithTests
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if current_user
      = link_to 'Expenses', user_expenses_path
      = link_to 'Weekly expenses', user_weekly_expenses_path
      = link_to 'Shop lists', user_shop_items_path
      = link_to 'Groups Expenses', user_groups_expenses_path
      = link_to 'Weekly Groups Expenses', user_weekly_groups_expenses_path
      |
      = link_to 'Groups', groups_path
      = link_to 'Currencies', currencies_path
      = link_to 'Currency exchange', currency_exchange_index_path
      = link_to 'Currency rates', currency_rates_path
      = link_to 'Google search', google_search_index_path
      = link_to 'Search statistics', google_queries_path
      = link_to 'Expenses Categories', expenses_categories_path
      = link_to 'Shops', shops_path
      |
      = link_to 'Sign out', destroy_user_session_path, method: :delete
    - else
      = link_to 'Sign in', new_user_session_path
      = link_to 'Sign up', new_user_registration_path

    - if notice
      %p.notice= notice
    - if alert
      %p.alert= alert

    #modal-holder
    = yield
